@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scale up hit targets on high resolution mobile devices. */
@media (min-resolution: 200dpi) {
  html {
    font-size: 18px;
  }

  .text-sm {
    /* ensure minimum font size of 16px */
    font-size: 0.9rem;
  }
}

* {
  scrollbar-width:none;
}

*::-webkit-scrollbar {
  @apply bg-slate-950;
}

*::-webkit-scrollbar-thumb {
  @apply bg-slate-950 rounded-full;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  @apply bg-slate-950;
}

.scrollbar-hidden:hover::-webkit-scrollbar-thumb {
  @apply bg-slate-950;
}
